doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		style(type='text/css')
			include index.css
	body
		table.body
			tr
				td
					table.container
						tr
							td
								table.row
									tr
										td
											center
												p This is a Row
								table.row
									tr
										td
											center
												p This is another Raw
